.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.hamburger-icon .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.menu.open {
  right: 0;
}

.main-logo-small {
  height: 10vh;
}

.menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  position: relative;
  top: 0;
}

.menu ul li {
  border-bottom: 1px solid #E4CC84;
}

.menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu ul li a:hover {
  background-color: #f5f5f5;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 5vw;
  padding: 0;
}

.close-button span {
  font-size: 24px;
}

.logout-button {
  padding: 5px;
  height: 40px !important;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: #6BBAA7;
  color: white;
  cursor: pointer;
  position: inherit;
  bottom: 50px;
  right: 40px;
}

@media (max-width: 768px) {

  .menu.open {
    left: 0;
    width: 100vw;
  }

  .main-logo-small {
    height: 20vh;
    margin-left: 26vw;
  }

  .close-button {
    font-size: 72px;
    left: 76vw;
    top: -2vh;
  }

  .close-button span {
    font-size: 72px;
    left: 64vw;
    top: -2vh;
  }
}

@media (max-width: 429px) {
  .hamburger-icon {
    height: 2vh;
  }

  .hamburger-icon .bar {
    width: 6vw;
  }

  .menu.open {
    left: 0;
    width: 100vw;
  }

  .main-logo-small {
    height: 20vh;
    margin-left: 24vw;
  }

  .close-button {
    font-size: 72px;
    left: 64vw;
    top: -2vh;
  }

  .close-button span {
    font-size: 72px;
    left: 64vw;
    top: -2vh;
  }
}