.comparator {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background-color: white;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  position: relative;
  border: 2px solid #E4CC84;
  border-radius: 10px;
  cursor: pointer;
  height: 30vh;
  width: 25vw;
  gap: 5%;
  font-size: 22px;
    & img {
      width: auto;
      height: 7vh;
      padding: 4%;
    }

}

.option img {
  width: 100%;
}

.ride-text {
  display: flex;
  flex-direction: column;
  & p{
    margin-top: 0;
  }
}

.select-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E4CC84;
  color: #213547;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.radio-option {
  color: #000;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .option {
    height: 45vh;
  }
  .ride-text {
    padding-bottom: 10%;
    & p{
      margin-top: 5%;
    }
  }
  .taxi-text {
    margin-top: 1%;

  }
}

@media (max-width: 429px) {
  .duracion-comparator {
    margin-top: 5%;
    font-size: 24px;
  }
  .comparator {
    flex-direction: column;
  }
  .option {
    width: auto;
    height: 43vh;
    & label {
      & img {
        padding: 0%;
        width: auto;
        margin-top: 4%;
      }
    }
  }

  .ride-text {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0;
    & p{
      margin-top: 2%;
    }
  }
}