
.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  background-color: white;
  & form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    & .container-location-style {
      border: 1px solid black;
      width: 50vw;
      display: flex;
      gap: 1vw;
      padding: 1%;
      font-size: large;
      & img {
        height: 3vh;
      }
      & input {
        outline: 0;
        border: 0;
        width: 70%;
        font-size: large;
      }
    }
  }
}


.search-bar {
  margin: 20px 0;
  width: 56.25rem;
}

.search-bar .title {
  background-color: #E4CC84;
  border-radius: 10px;
}

.search-bar .title h2 {
  font-size: 1.5rem;
}

.search-bar .search {
  width: 100%;
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.search-bar .line-space {
  width: 1px;
  height: 20px;
  background: #DADADA;
}

.search-input {
  padding: 10px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.search-input::placeholder {
  color: rgb(160, 159, 159);
  font-weight: bold;
}

.search-button {
  padding: 10px;
  height: 100%;
  background-color: #fff;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fare-data {
  display: flex;
  gap: 5%;
  font-size: 16px;
  & div {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 9vw;
    & img {
      height: 3vh;
    }
  }
}

.map-container{
  border-radius: 10px;
}

@media (max-width: 768px){
  .home-body {
    width: 100vw;
    & form {
      display: flex;
      flex-direction: column;
    }
  }

  .search-bar {
    width: 90vw;
    height: 32vh;
  }
  .search-bar .search {
    display: flex;
    flex-direction: column;
  }

  .search-input {
    width: 75%;
    border-radius: 10px;
    background-color: #dadada;
  }
  .fare-data {
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
    & div {
      width: 40%;
    }
  }
}

@media (max-width: 429px) {
  .home-body {
    width: 100vw;
    & form {
      display: flex;
      flex-direction: column;
    }
  }
  .search-bar {
    width: 90vw;
    height: 32vh;
  }
  .search-bar .search {
    display: flex;
    flex-direction: column;
  }

  .search-input {
    width: 75%;
    border-radius: 10px;
    background-color: #dadada;
  }
  .fare-data {
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
    & div {
      width: 40%;
    }
  }
}
