* {
  box-sizing: border-box;
}

.container-signup {
  display: flex;
  width: 45rem;
  height: 28rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title-left {
  font-size: 1.8rem;
}

.left {
  flex: 1;
  background-color: #6BBAA7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 20px;
}

.left h2 {
  margin-bottom: 20px;
}

.signInButton {
  padding: 10px 20px;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: #6BBAA7;
  cursor: pointer;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.signup-title-right {
  color: #6BBAA7;
  margin-bottom: 1.20rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.login-input {
  margin-bottom: 10px;
  max-width: 350px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #F2F2F2;
  color: #B8B8B8;
}

.login-input::placeholder {
  color: #B8B8B8;
}

.login-button {
  padding: 10px;
  margin-top: 20px;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: #6BBAA7;
  color: white;
  cursor: pointer;
}

.resetPassword {
  font-size: 1rem;
  margin-top: 10px;
  color: #6BBAA7;
  text-decoration: none;
}

.resetPassword:hover {
  color: #6BBAA7;
  text-decoration: underline;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  gap: 10px;
}


@media (max-width: 768px) {
  .container-signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    height: 80%;
  }

  .left,
  .right {
    border-radius: 0;
  }

  .signInButton,
  .loginButton {
    width: 100%;
    max-width: 100%;
  }

  .login-input {
    max-width: 100%;
  }
}


@media (max-width: 429px) {
  .container-signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    height: 85%;
  }

  .left,
  .right {
    border-radius: 0;
  }

  .signInButton,
  .loginButton {
    width: 100%;
    max-width: 100%;
  }

  .login-input {
    max-width: 100%;
  }
}