.trips-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

