.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6BBAA7;
  width: 90vw;
  margin-left: 0;
  padding: 0 5%;

  & .header-img-logo {
    height: 25vh;
  }
  & button{
    height: 10vh;
    & img{
        height: 100%;
    }
  }
}
