
.profile-body-up {
  display: flex;
  width: 100vw;
  align-items: center;
  gap: 10%;
}

.profile-left {
  display: flex;
  flex-direction: column;
  margin-inline-start: 20%;
  margin-block-start: 5%;
  & .user-icon{
    border: 1px solid black;
    border-radius: 50%;
  }
}

.profile-right {
  display: flex;
  flex-direction: column;
}

.profile-links {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: start;
  margin-inline-start: 20%;
  margin-block-start: 5%;
  margin-block-end: 10%;
}

.profile-links a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
  font-size: 40px;
}
a {
  font-size: 30px;
}

#link1:hover, #link2:hover{
  color: #E4CC84;
}

@media (max-width: 768px) {
  .profile-body-up {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .profile-left {
    margin-inline-start: 0;
    align-items: center;
  }

  .profile-right {
    margin-inline-start: 0;
    align-items: center;
    text-align: center;
  }

  .profile-links {
    align-items: center;
    margin-inline-start: 0;
    text-align: center;
  }

  .profile-links a {
    font-size: 30px;
  }
}


@media (max-width: 429px) {
  .profile-left .user-icon {
    width: 80px;
    height: 80px;
  }

  .profile-links a {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  .profile-left, .profile-right, .profile-links {
    margin-inline-start: 0;
    align-items: center;
    text-align: center;
  }
}