.payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-block-start: 5%;
    margin-block-end: 5%;
    width: 50vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .payment-method h2 {
    text-align: center;
    margin-bottom: 2%;
  }

  .form-group {
    margin-bottom: 2%;
  }

  .form-group label {
    display: block;
    margin-bottom: 2%;
  }

  .form-group input {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
  }

  button {

    width: 10vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #pay-button{
    background-color: #E4CC84;
    color: #000000;
    margin:5%;
  }

  .paypal-image{
    width: 100px;
    height: 40px;
    object-fit:contain;
    margin-inline-start: 10%;
  }

  #paypalToggle{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 10%;
  }

  @media (max-width: 768px) {
    .payment-method {
      width: 70vw;
      padding: 3%;
    }

    .form-group input {
      padding: 3%;
    }

    button {
      width: 20vw;
      padding: 3%;
    }
  }


  @media (max-width: 429px) {
    .payment-method {
      width: 90vw;
      padding: 4%;
    }

    .form-group input {
      padding: 4%;
    }

    button {
      width: 40vw;
      padding: 4%;
    }
  }