.footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: #E2E8E6;
  }

  .footer-content {
    text-align: center;
    width: 30vw;
  }

  .links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  #linkedin{
    font-size: 16px;
    color: rgb(0,0, 0);
  }

@media (max-width: 768px) {
  .footer-content {
      width: 50vw; 
  }

  #linkedin {
      font-size: 14px; 
  }

  .links-container{
    gap: 3%;
  }
}
@media (max-width: 429px) {
  .footer {
      flex-direction: column; 
      padding: 10px; 
  }

  .footer-content {
      width: 80vw; 
  }

  .links-container {
      gap: 3%; 
  }

  p{
    font-size: 12px;
  }

  #linkedin {
      font-size: 12px; 
  }
}